body{
    background-color: lavender; }
  h1{
    color:darkviolet  }
  .div1{
    font-size:xx-large;
    font-style:italic;
    background-color:lightsalmon;
  }
  #divpara{
            color: rebeccapurple;
  }